* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; margin-top: 100px;
}

div {
    background-color: #f5f5ec;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.me img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.social ul {
    list-style-type: none;
}

.social li {
    display: inline;
    margin-right: 10px;
}
.passions > h2 {
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 20px;
    color: #999;
}

@media screen and (max-width: 768px) {
    div {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    div {
        width: 100%;
    }
}

    .box-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;
    }

